@import '~bootstrap/scss/bootstrap';
@import './styles/variables.scss';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  .Header {
    background-color: $base-color;
    height: 90px;
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .Logo {
      padding: 10px 15px;
    }
    ul {
      list-style: none;
      margin: 0;
      li {
        padding: 10px 15px;
        display: inline-block;
        a {
          text-decoration: none;
        }
      }
    }
    Button {
      width: $general-button-width;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .SignUpPage {
    Button {
      width: $general-button-width;
      background-color: $primary-color;
      border-color: $primary-color;
    }   
  }

  .SigninPage {
    Button {
      width: $general-button-width;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .WelcomePage {
    .section {
      margin: 3rem 0;
    }
    Button {
      width: $general-button-width;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .ProfilePage {
    padding: 20px 0;
    .section {
      margin: 3rem 0;
    }
    Button {
      width: $general-button-width;
      background-color: $primary-color;
      border-color: $primary-color;
      color: $base-color;
    }
  }
}

